body {
  font-family: Candara;
  background-color: #f3f3ec;
}

.cursor-pointer {
  cursor: pointer
}

.my-sticky-top {
  position: sticky;
  height: 800px;
  overflow-y: auto;
  top: 85px
}

.my-top-pad {
  padding-top: 85px;
}

a {
  color: black;
}

.my-legend1 {
  font-size: 40px;
}

.my-legend2 {
  font-size: 30px;
}

.border-curved-red {
  border: #c3073f;
  border-radius: 5pt;
  border-style: ridge;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.red_link {
  color: #c3073f;
}