<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='deezer.js') }}"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>MusicCloud</title>
</head>
<!-- Local CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body onload="myOnload()" class="">
    <header class="site-header">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-danger"
            style="background-color: #c3073f; height: 80px;">
            <div class="container">
                <a class="navbar-brand pr-5 btn text-center-lg" href="{{ url_for('home') }}">
                    <i class="fas fa-music fa-md" aria-hidden="true"></i> Music Cloud <i class="fab fa-soundcloud fa-lg"
                        aria-hidden="true"></i>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                {% if current_user.is_authenticated %}
                <ul class="nav nav-pills px-2">
                    <li class="nav-item dropdown">
                        <a class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false"><i class="fas fa-heart"></i> Favorite</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item btn btn-outline-danger"
                                href="{{ url_for('favorite', search_type='album') }}"><i
                                    class="fas fa-compact-disc"></i> Album</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item btn btn-outline-danger"
                                href="{{ url_for('favorite', search_type='artist') }}"><i class="fas fa-user"></i>
                                Artist</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item btn btn-outline-danger"
                                href="{{ url_for('favorite', search_type='playlist') }}"><i
                                    class="fas fa-clipboard-list"></i> Playlist</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item btn btn-outline-danger"
                                href="{{ url_for('favorite', search_type='track') }}"><i class="fas fa-music"></i>
                                Track</a>
                        </div>
                    </li>
                </ul>
                {% endif %}

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {% if current_user.is_authenticated %}
                        <li class="nav-item active">
                            <form class="form-inline"
                                action="{{ url_for('searched', search_type=search_type, search_text=search_text) }}">
                                <div class="form-group m-1 pl-3">
                                    <select id="search_type_id" class="form-control" name="search_type">
                                        <option value="album">Album</option>
                                        <option value="artist">Artist</option>
                                        <option value="playlist">Playlist</option>
                                        <option value="track">Track</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                        aria-label="Search" type="text" name="search_text" required>
                                    <div class="valid-feedback">Valid.</div>
                                    <div class="invalid-feedback">Please fill out this field.</div>
                                </div>

                                <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i
                                        class="fas fa-search"></i> Search</button>
                            </form>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="navbar-nav">
                        {% if current_user.is_authenticated %}
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ current_user.firstname }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                            </div>
                        </div>
                        {% else %}
                        <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                        <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="my-top-pad mb-5 pb-5">
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
        </div>
        <div class="fixed-bottom">
            {% block player %}
            {% if current_user.is_authenticated %}
            <div id="player_container">
                <div id="dz-root"></div>
                <div id="player"></div>
            </div>
            {% endif %}
            {% endblock %}
        </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>