{% extends "layout.html" %}

{% block content %}
{% if data %}
<div>
    <div>
        {% if search_type == 'album' %}
        <legend class="m-3 text-center display-4">Albums</legend>
        {% for element in data %}
        <legend class="border-bottom m-2">{{ element.genre }}</legend>
        <div class="row">
            {% for e in element.data %}
            <div class="col-3 mb-5">
                {% if e.explicit_lyrics %}
                <div class="card border-danger">
                    {% else %}
                    <div class="card border-success">
                        {% endif %}

                        <div class="card-header">
                            <a href="{{ url_for('selected', search_type=search_type, id=e.id) }}">{{ e.title }}</a>
                        </div>
                        <img id="{{search_type}}_{{ e.id }}" src="{{ e.cover_big }}" class="card-img-top cursor-pointer"
                            alt="..." onclick="playSongs(this.id)">
                        <div class="card-footer justify-content-center bg-transparent">
                            {% if e.favorite %}
                            <div class="text-center">
                                <a class="btn btn-light justify-content-center"
                                    href="{{ url_for('update_favorite', target='searched', target_param1=search_type, target_param2=search_text, search_type=search_type, search_text=search_text, entity_id=e.id) }}">
                                    <i class="far fa-thumbs-down fa-2x" aria-hidden="true"></i>
                                </a>
                            </div>
                            {% else %}
                            <div class="text-center">
                                <a class="btn btn-light justify-content-center"
                                    href="{{ url_for('update_favorite', target='searched', target_param1=search_type, target_param2=search_text, search_type=search_type, search_text=search_text, entity_id=e.id) }}">
                                    <i class="fas fa-thumbs-up fa-2x" aria-hidden="true"></i>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}

            {% elif search_type == 'artist' %}
            <legend class="border-bottom m-3 text-center display-4">Artists</legend>
            <div class="row">
                {% for element in data %}
                <div class="col-3 mb-5">
                    <div class="card border-success">
                        <div class="card-header">
                            <a
                                href="{{ url_for('selected', search_type=search_type, id=element.id) }}">{{ element.name }}</a>
                        </div>
                        <img id="{{search_type}}_{{ element.id }}" src="{{ element.picture_big }}" class="card-img-top"
                            alt="...">
                        <div class="card-footer justify-content-center bg-transparent">
                            {% if element.favorite %}
                            <div class="text-center">
                                <a class="btn btn-light justify-content-center"
                                    href="{{ url_for('update_favorite', target='searched', target_param1=search_type, target_param2=search_text, search_type=search_type, search_text=search_text, entity_id=element.id) }}">
                                    <i class="far fa-thumbs-down fa-2x" aria-hidden="true"></i>
                                </a>
                            </div>
                            {% else %}
                            <div class="text-center">
                                <a class="btn btn-light justify-content-center"
                                    href="{{ url_for('update_favorite', target='searched', target_param1=search_type, target_param2=search_text, search_type=search_type, search_text=search_text, entity_id=element.id) }}">
                                    <i class="fas fa-thumbs-up fa-2x" aria-hidden="true"></i>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            {% elif search_type == 'playlist' %}
            <legend class="border-bottom m-3 text-center display-4">Playlists</legend>
            <div class="row">
                {% for element in data %}
                <div class="col-3 mb-5">
                    <div class="card border-success">
                        <div class="card-header">
                            <a
                                href="{{ url_for('selected', search_type=search_type, id=element.id) }}">{{ element.title }}</a>
                        </div>
                        <img id="{{search_type}}_{{ element.id }}" src="{{ element.picture_big }}"
                            class="card-img-top cursor-pointer" alt="..." onclick="playSongs(this.id)">
                        <div class="card-footer justify-content-center bg-transparent">
                            {% if element.favorite %}
                            <div class="text-center">
                                <a class="btn btn-light justify-content-center"
                                    href="{{ url_for('update_favorite', target='searched', target_param1=search_type, target_param2=search_text, search_type=search_type, search_text=search_text, entity_id=element.id) }}">
                                    <i class="far fa-thumbs-down fa-2x" aria-hidden="true"></i>
                                </a>
                            </div>
                            {% else %}
                            <div class="text-center">
                                <a class="btn btn-light justify-content-center"
                                    href="{{ url_for('update_favorite', target='searched', target_param1=search_type, target_param2=search_text, search_type=search_type, search_text=search_text, entity_id=element.id) }}">
                                    <i class="fas fa-thumbs-up fa-2x" aria-hidden="true"></i>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            {% elif search_type == 'track' %}
            <legend class="border-bottom m-3 text-center display-4">Tracks</legend>
            <div class="row">
                {% for element in data %}
                <div id="{{search_type}}_{{element.id}}" class="col-12 text-lg font-weigth-bold cursor-pointer my-3"
                    onclick="playSongs(this.id)">
                    <div class="row">
                        <div class="col-4">
                            <a href="{{ url_for('selected', search_type=search_type, id=element.id) }}">
                                {{ element.title }}
                            </a>
                        </div>
                        <div class="col-3">
                            {{ element.artist.name }}
                        </div>
                        <div class="col-3">
                            {{ element.album.title }}
                        </div>
                        <div class="col-2">
                            {% if element.favorite %}
                            <div class="text-center">
                                <a class="btn btn-light justify-content-center"
                                    href="{{ url_for('update_favorite', target='searched', target_param1=search_type, target_param2=search_text, search_type=search_type, search_text=search_text, entity_id=element.id) }}">
                                    <i class="far fa-thumbs-down fa-lg" aria-hidden="true"></i>
                                </a>
                            </div>
                            {% else %}
                            <div class="text-center">
                                <a class="btn btn-light justify-content-center"
                                    href="{{ url_for('update_favorite', target='searched', target_param1=search_type, target_param2=search_text, search_type=search_type, search_text=search_text, entity_id=element.id) }}">
                                    <i class="fas fa-thumbs-up fa-lg" aria-hidden="true"></i>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <legend class="border-bottom m-2"></legend>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}