{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="content-section">
        <form method="POST" action="" class="form-inline pt-2 justify-content-center">
            {{ form.hidden_tag() }}
            <fieldset class="form-group pt-2">
                <legend class="border-bottom">Search {{ search_type }}</legend>
                <div class="form-group">
                    {% if form.text.errors %}
                    {{ form.text(class="form-control form-control-sm is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.text.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.text(class="form-control form-control-md m-2", placeholder="Search") }}
                    {% endif %}
                    {{ form.submit(class="btn btn-outline-info m-2") }}
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock content %}